apiVersion: v1
kind: Secret
metadata:
  name: mizuchi-uploadr-secrets
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: "minioadmin"
  AWS_SECRET_ACCESS_KEY: "minioadmin"
  AWS_REGION: "us-east-1"
  S3_BUCKET: "dev-uploads"
