apiVersion: v1
kind: Service
metadata:
  name: mizuchi-uploadr
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: mizuchi-uploadr
---
apiVersion: v1
kind: Service
metadata:
  name: mizuchi-uploadr-metrics
spec:
  type: ClusterIP
  ports:
    - port: 9090
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    app.kubernetes.io/name: mizuchi-uploadr
